@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
}
.main-header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 60px); /* Account for sidebar width */
    height: 70px;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: center;
}

.header-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

/* Adjust container to account for header height */
.container {
    margin-top: 80px; /* header height + some padding */
}